<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <a href="show" style="position:absolute;top:10%;right:10%">Previous page</a>
</head>
<body>
<h3>Delete Existing pizza</h3>
<form action="delete" method="post">
    {% csrf_token%}
    Enter Which pizza to delete<br>
    <input type="text" name="id" placeholder="Enter ID from below table"><br>
    <input type="submit" placeholder="Delete">
</form><br>
<h1 style="position:relative;left:40%;top:20%">All pizzas</h1>
    <table style="width:100%">
    <tr style="color:red">
        <th style="border:1px solid black; width:10%">ID</th>
        <th style="border:1px solid black; width:30%">Type</th>
        <th style="border:1px solid black; width:30%">Size</th>
        <th style="border:1px solid black; width:30%">Topings</th>
    </tr>
    {% for item in pizza %}
    <tr>
        <td style="border:1px solid black; width:10%">{{item.id}}</td>
        <td style="border:1px solid black; width:30%">{{ item.type }}</td>
        <td style="border:1px solid black; width:30%">{{ item.size}}</td>
        <td style="border:1px solid black; width:30%">{{ item.topings }}</td>
    </tr>
    {% endfor %}
</body>
</html>